<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../public/css/Painel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />
    <title>Valorant Profile</title>
    <link rel="icon" type="image/x-icon" href="../public/image/icon.png">
</head>

<body>
    <div class="content">
        <div class="card horizontal">

        </div>
        <div class="card vertical">

        </div>
    </div>


    <!-- Menu -->
    <div class="navigation">
        <div class="toggle"></div>
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <span class="title-menu">Profile</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </span>
                    <span class="title-menu">Settings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                    <span class="title-menu">Password</span>
                </a>
            </li>
            <li>
                <a href="../logout">
                    <span class="icon">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </span>
                    <span class="title-menu">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
    <script>
        const navigation = document.querySelector('.navigation');
        document.querySelector('.toggle').onclick = function () {
            this.classList.toggle('active');
            navigation.classList.toggle('active');
        }
    </script>
</body>