<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../public/css/Login.css">
</head>

<body>
    <div class="wrap">
        <form method="post">
            <input type="text" id="username" placeholder="Username">
            <input type="text" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <input type="password" id="c_password" placeholder="Confirm Password">
            <input type="submit" class="submit" id="create" value="Create">
        </form>
        <div class="info-bar">
            Already have an account? <a href="" target="blank">Login here.</a>
        </div>
    </div>
</body>