.banner {
    position: relative;
    height: 60vh;
    width: 90%;
    background: url("https://media.valorant-api.com/playercards/2950e0cb-414f-09b6-0dbe-45b3595d82e0/largeart.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner::before,
.banner::after {
    content: "";
    position: absolute;
    background-color: #fff;
    bottom: 0;
    height: 10vw;
    width: 50%;
    z-index: -1;
}

.banner::before {
    left: 0;
    transform: skewY(40deg);
    transform-origin: bottom left;
}

.banner::after {
    right: 0;
    transform: skewY(-40deg);
    transform-origin: bottom right;
}